body {
    background-image: url("/ASSETS/images/ovan.jpg");
    background-size: 1500px;
    background-color: rgba(142, 161, 173, 0.781);
}

label {
    margin-left: 100px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

input {
    border-radius: 15px;
    padding-right: 70px;
    padding-left: 2px;
    padding: 6px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
input:hover{
    font-size: 16px;
    padding-right: 80px;
    box-shadow:  5px 1px 5px rgba(0, 0, 0, 0.767);
}
.button{
    border-radius: 15px;
    position: absolute;
    padding: 6px 88px;
    font-weight: 800;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}
.navbar-brand{
    padding-top: -10em;
    padding-left: 5em;
    font-weight: 500;
    padding-right: 35em;
}
.nav-item{
    font-weight: 500;
    font-size: 16px;
}
.container-fluid{
    background-color: #368da3ee;
    height: 50px;
    margin-top: -0.5em;
    text-align: right;
    box-shadow: 15px 1px 20px rgba(0, 0, 0, 0.562);
    .nav-item:hover{
        font-weight: 700;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.562);
        font-size: 15px;
    }
}
.imglogo{
    background-color: rgba(240, 248, 255, 0.178);
    margin-top: -1em;
    height:95px; 
    width: 200px;
}
.button:hover {
    padding: 7px 89px;
    font-weight: 800;
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.616);
    font-size: 16.5px;
    text-decoration: none;

}

.container {
    margin-left: 100px;
}

.text {
    color: black;
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    text-align: center;
    margin-top: -13em;
    margin-left: 600px;
    width: 600px;
}

form {
    margin-left: 70px;
    margin-right: 300px;
    display: block;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    margin-top: 5%;
}


.signup {
    color: black;
    font-weight: 500;
    padding-left: 70px; 
    padding-top: 90px;
    text-align: left;
}
.navbar-toggler{
    position: fixed;
}
.navbar-toggler-icon{
    height: 25px;
}
@media all and (max-width:800px) {
    .navbar-brand{
        padding-left: 15em;
    }
    .nav-item{
        padding-left: 10%;
        text-align:left;
    }
}